#Wrapper{
    width:1100px;
    margin: 0 auto;
}
#Bank{
    width: 300px;
    background-color: rgb(245, 243, 240);
    height: 300px;
    text-align: center;
    float: left;
    border-radius: 10px;
}
#Work{
    width: 300px;
    background-color: rgb(245, 243, 240);
    height: 300px;
    text-align: center;
    float:left;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    
}
#Laptops{
    width: 300px;
    background-color: rgb(245, 243, 240);
    height: 300px;
    text-align: center;
    float: left;
    border-radius: 10px;
}
#storeHeader{
    background-color: black;
    color: white;
    
    padding: 5px;
    padding-left: 50px;
    font-size:xx-large;
    margin-bottom: 20px;
}
#selectedLaptop{
    background-color: rgb(245, 243, 240);
    width: 1100px;
    height: 300px;

    float: left;
    margin-top: 50px;
}
button{
   padding: 5px;
   background-color: rgb(244, 231, 231);
   border-radius: 5px;
   cursor: pointer;
   border:1px gray groove;
   margin-top: 30px;;
  
   width: 170px;
}
button:hover{
    background-color: green;
    color: white;
    border:2px white groove;
    box-shadow: 2px 2px 2px ;
}
#laptopText {
    
    margin: 0 auto;
    width: 300px;
}
img {
    width: 300px;
    height: 300px;
    float: left;
}
select{
    margin-top: 10px;
}
#earnMoney {
    background-color: rgb(59, 59, 249);
    color: white;
}
#transferToBank{
    background-color: yellow;
}
#bankLoanBtn{
    background-color: rgb(147, 221, 36);
   
}
#BuyNow{
    background-color: aqua;
    
}
